/* Welcome Page */
body:not(.theme-type-dark):not(.theme-type-dark-solid):not(.theme-type-dark2):not(
    .theme-type-dark2-solid
  )
  .tiny-welcome {
  .category {
    .row {
      .citem {
        .avatar {
          &.avatar-bg {
            display: none !important;
          }
        }
      }
    }
  }
}

.tiny-welcome {
  #welcome-carousel {
    max-width: 1920px;
    .carousel-indicators {
      margin: 0px;
      bottom: 50px;
      left: 49px;
      text-align: left;
      display: block;
    }

    .carousel-item {
      background-color: var(--bg-surface-extra-low);
      .carousel-caption {
        width: 100%;
        left: 0;
        padding-bottom: 35px;
        text-align: left;
        padding-left: 50px;
      }

      & > img {
        height: 250px;
        opacity: 1;
      }
    }
  }

  .Formy {
    input {
      color: var(--button-text-color);
      text-align: left;
      border-radius: 50px;
      font-size: 14px;
      margin-top: 20px;
      margin-right: 10px;
      margin-bottom: 10px;
    }
  }
  .taggy {
    .taggyButton {
      color: var(--button-text-color);
      background-color: var(--button-background-color);

      border-radius: 50px;
      margin-right: 10px;
      margin-bottom: 10px;

      cursor: pointer;

      &:hover {
        background-color: var(--bg-surface-border) !important;
      }

      &.active {
        background-color: var(--bg-surface-border) !important;
      }
    }
  }

  .bots {
    display: flex;
    flex-wrap: wrap;
    &.room {
      margin-bottom: 10px;
    }
  }

  overflow-y: auto;
  align-items: center;

  .title {
    text-align: left;
  }

  #menu {
    &:not(.is-guest) {
      .title-place {
        padding-left: 42px;
        margin-top: -30px;
      }

      @media (min-width: 768px) {
        .title-place {
          padding-left: 0px;
          margin-top: -0px;
        }
      }
    }

    .btn {
      background-color: var(--bg-surface-extra-low);
      border-color: --bg-surface-border;
      color: var(--tc-surface-normal) !important;

      &:hover {
        background-color: var(--bg-surface-extra-low-transparent);
      }

      &:active {
        background-color: var(--bg-surface);
      }

      &.active {
        background-color: var(--bg-surface);
      }
    }
  }

  .category {
    margin-bottom: 27px;

    hr {
      margin-bottom: 0px;
    }

    .row {
      .citem {
        cursor: pointer;
        margin: 7px;
        & > div {
          border-radius: 15px !important;
          padding: 1rem !important;
          background-position: center;
          background-repeat: no-repeat;
          background-size: 100%;
          background-color: var(--bg-surface-extra-low);
          height: 364px;
          &:hover {
            .background {
              opacity: 0.5;
            }
            .card-data {
              opacity: 1;
            }
          }
        }

        .background {
          border-radius: 15px !important;
          height: 320px;
          position: relative;
          top: -15px;
          left: -15px;
          width: 338px;
        }

        .card-data {
          opacity: 0;
          border-radius: 15px !important;
          display: inline-flex;
          z-index: 1;
          position: relative;
          margin: auto;
          top: -320px;
          height: 100%;
          width: 100%;
          align-items: center;
          & > div {
            width: 100%;
            overflow-y: auto;
          }
        }

        .card-title {
          top: -336px;
          position: relative;
        }

        .card-text {
          font-size: 10pt;
        }
      }
    }

    .cover {
      pointer-events: none;
      position: relative;
      z-index: 1;
      background: linear-gradient(
        90deg,
        transparent 70%,
        var(--bg-surface) 95%,
        var(--bg-surface) 100%
      );
    }
  }

  @media (max-width: 768px) {
    #leave-welcome {
      display: inline-block !important;
    }

    & {
      padding: 0px !important;
    }
  }

  .chatroom {
    border-radius: 25px !important;
    height: 300px;
    border-width: 1px !important;
    border-style: solid !important;
    border-color: unset !important;
  }

  #search-title {
    .search-info {
      max-width: 1920px;
      .search-form {
        .search-input {
          border-color: var(--bg-surface-border) !important;
          background-color: var(--bg-surface);
        }
      }
    }

    .taggy {
      width: auto !important;
      max-width: 1700px !important;
    }
  }
}
