/* Welcome Page */
.tiny-welcome {
  #menu {
    position: fixed;
    top: 0;
    > div {
      &:not(.is-guest) {
        .title-place {
          padding-left: 42px;
          margin-top: -30px;
        }

        @media (min-width: 768px) {
          .title-place {
            padding-left: 0px;
            margin-top: -0px;
          }
        }
      }

      .btn {
        background-color: var(--bg-surface-extra-low);
        border-color: --bg-surface-border;
        color: var(--tc-surface-normal) !important;

        &:hover {
          color: var(--tc-surface-low) !important;
        }

        &:active {
          background-color: var(--bg-surface);
          color: var(--tc-surface-normal-low) !important;
        }

        &.active {
          background-color: var(--bg-surface);
          color: var(--tc-surface-normal-low) !important;
        }
      }
    }
  }
}

.tiny-welcome.is-guest {
  #spaceship-framer {
    padding-top: 57px;
  }
}

.sso-buttons {
  display: block;
  .btn {
    display: inline-block !important;
  }
}

.spaceship-embed-expand {
  margin-top: -62px;
  align-self: end;

  > button {
    top: 67px;
    position: relative;
    right: 6px;
  }

  &.clicked > button {
    top: 20px;
    right: 20px;
  }
}

.spaceship-embed {
  padding-top: 31px;
}

.spaceship-iframe-expand-enabled {
  .room__content {
    display: none;
  }
}

@import './cards/login.scss';
@import './cards/guest.scss';
