/* Welcome Page */
.tiny-welcome {
  #menu {
    position: fixed;
    top: 0;
    > div {
      &:not(.is-guest) {
        .title-place {
          padding-left: 42px;
          margin-top: -30px;
        }

        @media (min-width: 768px) {
          .title-place {
            padding-left: 0px;
            margin-top: -0px;
          }
        }
      }

      .btn {
        background-color: var(--bg-surface-extra-low);
        border-color: --bg-surface-border;
        color: var(--tc-surface-normal) !important;

        &:hover {
          color: var(--tc-surface-low) !important;
        }

        &:active {
          background-color: var(--bg-surface);
          color: var(--tc-surface-normal-low) !important;
        }

        &.active {
          background-color: var(--bg-surface);
          color: var(--tc-surface-normal-low) !important;
        }
      }
    }
  }
}

.tiny-welcome.is-guest {
  #pixx-framer {
    padding-top: 57px;
  }
}

.sso-buttons {
  display: block;
  .btn {
    display: inline-block !important;
  }
}

.pixx-embed {
  border-left: none;
  border-right: none;
  border-top: none;
  border-bottom: 1px solid var(--bg-surface-border);
  width: 100%;
  height: 250px;
  &.expand-embed {
    height: 350px;
  }
}

.pixx-embed-expand {
  position: relative;
  display: inline-block;
  text-align: end;
  margin-top: -31px;
  top: 33px;
  right: 2px;
}

@import './cards/login.scss';
@import './cards/guest.scss';
