/* Message Embed */
.agi-client-embed {
  max-width: 1200px;
}

/* Modals */
#agi-superagent-modal,
#agi-flowise-modal {
  .modal-fullscreen {
    .modal-header {
      height: 33px;
      font-size: 12px !important;
      .modal-title {
        font-size: 15px;
      }
    }

    .height-modal-full-size {
      height: 100% !important;
    }
  }
}

/* Welcome Page */
.tiny-welcome {
  overflow-y: auto;

  #menu {
    .card {
      transition: 0.03s background-color;
      cursor: pointer;
      background-color: #139a78;
      border-color: #0d6f56;
      width: 240px;
      height: 200px;
      .card-body {
        display: grid;
        align-items: center;
        justify-content: center;
      }

      &.active {
        background-color: #0d6f56;
      }
    }

    .card:hover {
      background-color: #0d6f56;
    }

    .card:active {
      background-color: #0b5a46;
    }
  }

  center {
    width: 40%;
  }

  .category {
    height: 280px;

    ul {
      overflow-x: auto;
      overflow-y: hidden;
      width: auto !important;

      li {
        cursor: pointer;
        border-radius: 5px !important;

        .avatar {
          border-radius: 50% !important;
          max-height: 120px;
          margin-bottom: 25px !important;
        }

        .list-group-item * {
          pointer-events: none;
        }

        &:hover {
          .avatar {
            filter: brightness(75%);
          }

          .card-title {
            color: var(--tc-link) !important;
          }

          .card-text {
            color: var(--tc-surface-normal) !important;
          }
        }

        &:active {
          .avatar {
            filter: brightness(55%);
          }
        }
      }
    }

    .cover,
    ul li {
      height: 270px !important;
      min-height: 270px !important;
    }

    ul li {
      width: 300px !important;
      min-width: 300px !important;
    }

    .cover {
      pointer-events: none;
      position: relative;
      top: 270px !important;
      margin-top: -270px;
      z-index: 1;
      background: linear-gradient(
        90deg,
        transparent 70%,
        var(--bg-surface) 95%,
        var(--bg-surface) 100%
      );
    }
  }
}

.sidebar__cross-signin-alert .avatar-container {
  animation-name: none !important;
}

/* Agents Bar */
.people-drawer-select-agents {
  .agent-button {
    cursor: pointer;

    &:hover {
      .avatar {
        filter: brightness(75%);
      }

      .card-title {
        color: var(--tc-link) !important;
      }

      .card-text {
        color: var(--tc-surface-normal) !important;
      }
    }

    &:active {
      .avatar {
        filter: brightness(55%);
      }
    }
  }
}

/* Buttons Back text position */
.room-view__unread--open,
.room-view__STB--open {
  left: unset !important;
  z-index: 999 !important;
}

.room-view__unread--open {
  height: 50px;
  width: 160px !important;
  right: 27px !important;
  > button > div {
    display: none;
  }
}

.room-view__STB--open {
  width: 130px !important;
  right: -22px !important;
  text-align: center;
  > button {
    width: 100%;
  }
}

/* Gradio Embed */
gradio-embed {
  h1 {
    img {
      max-height: 72px;
    }
  }
}
