/* Chatbox */
#chatbox {
  tr:nth-child(even) {
    background-color: rgba(0, 0, 0, 0.09);
  }
}

/* Modals */
#agi-superagent-modal,
#agi-flowise-modal {
  .modal-fullscreen {
    .modal-header {
      height: 33px;
      font-size: 12px !important;
      .modal-title {
        font-size: 15px;
      }
    }

    .height-modal-full-size {
      height: 100% !important;
    }
  }
}

/* Welcome Page */
.tiny-welcome {
  overflow-y: auto;

  #menu {
    .btn {
      background-color: var(--bg-surface-extra-low);
      border-color: --bg-surface-border;
      color: var(--tc-surface-normal) !important;

      &:hover {
        background-color: var(--bg-surface-extra-low-transparent);
      }

      &:active {
        background-color: var(--bg-surface);
      }

      &.active {
        background-color: var(--bg-surface);
      }
    }
  }

  center {
    width: 40%;
  }

  .category {
    height: 280px;
    margin-bottom: 27px;

    hr {
      margin-bottom: 0px;
    }

    ul {
      overflow-x: auto;
      overflow-y: hidden;
      width: auto !important;

      li {
        cursor: pointer;
        border-radius: 5px !important;
        background-color: var(--bg-surface);

        .avatar {
          border-radius: 15% !important;
          max-height: 100px;
          margin-bottom: 25px !important;
        }

        .card-text {
          font-size: 10pt;
        }

        .list-group-item * {
          pointer-events: none;
        }

        &:hover {
          background-color: var(--bg-surface-low);

          .card-title {
            color: var(--tc-link) !important;
          }

          .card-text {
            color: var(--tc-surface-normal) !important;
          }
        }

        &:active {
          background-color: var(--bg-surface-low);
        }
      }
    }

    ul li {
      width: 200px !important;
      min-width: 200px !important;
    }

    .cover,
    ul li {
      height: 240px !important;
      min-height: 240px !important;
    }

    .cover {
      top: 240px !important;
      margin-top: -240px;
    }

    .cover {
      pointer-events: none;
      position: relative;
      z-index: 1;
      background: linear-gradient(
        90deg,
        transparent 70%,
        var(--bg-surface) 95%,
        var(--bg-surface) 100%
      );
    }
  }
}

.sidebar__cross-signin-alert .avatar-container {
  animation-name: none !important;
}

/* Agents Bar */
.people-drawer-select-agents {
  .agent-button {
    cursor: pointer;

    &:hover {
      .avatar {
        filter: brightness(75%);
      }

      .card-title {
        color: var(--tc-link) !important;
      }

      .card-text {
        color: var(--tc-surface-normal) !important;
      }
    }

    &:active {
      .avatar {
        filter: brightness(55%);
      }
    }
  }
}

/* Buttons Back text position */
.room-view__unread--open,
.room-view__STB--open {
  left: unset !important;
  z-index: 999 !important;
}

.room-view__unread--open {
  height: 50px;
  width: 160px !important;
  right: 27px !important;
  > button > div {
    display: none;
  }
}

.room-view__STB--open {
  width: 130px !important;
  right: -22px !important;
  text-align: center;
  > button {
    width: 100%;
  }
}

/* Gradio Embed */
.agi-client-embed {
  background-color: var(--bg-surface);
  max-width: 1200px;
  overflow-y: auto;
  max-height: 700px;
  min-height: 700px;
  height: 700px;
  display: block;

  &.loading,
  &.loading-gradio {
    display: flex;
    align-items: center;

    center {
      width: 100%;
      font-size: 10pt;
    }
  }

  &.loading {
    a {
      color: var(--tc-surface-normal) !important;
    }

    i {
      font-size: 35pt;
      margin-bottom: 17px;
    }

    &:hover {
      font-weight: bold;

      i:hover {
        opacity: 0.75;
        cursor: pointer;
      }
    }
  }

  @media (max-height: 800px) {
    max-height: 500px;
    min-height: 500px;
    height: 500px;
  }

  @media (max-height: 700px) {
    max-height: 300px;
    min-height: 300px;
    height: 300px;
  }

  @media (max-height: 500px) {
    max-height: 100px;
    min-height: 100px;
    height: 100px;
  }

  @media (max-height: 300px) {
    max-height: 50px;
    min-height: 50px;
    height: 50px;
  }

  iframe {
    width: 100%;
    height: 520px;
  }
  gradio-embed {
    width: 100%;

    .nav-tabs .nav-link {
      text-decoration: none !important;
      &:not(.collapsed) {
        font-weight: bold !important;
      }
    }

    /* Gallery */
    .gallery {
      background-color: var(--bg-surface-low);
      max-height: 500px;
      overflow-y: auto;

      @media (max-height: 800px) {
        max-height: 400px;
      }

      @media (max-height: 730px) {
        max-height: 300px;
      }

      @media (max-height: 660px) {
        max-height: 200px;
      }

      button:not(.disabled) {
        padding: 1.5rem !important;

        &:hover,
        &:active {
          .avatar {
            border-color: #e28800 !important;
            cursor: pointer !important;
          }
        }

        &:hover .avatar {
          filter: brightness(110%);
        }

        &:active .avatar {
          filter: brightness(125%);
        }
      }

      .avatar {
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100% 100%;
        border-radius: 15px;
        padding: 50%;
      }
    }

    button.disabled {
      cursor: default !important;
    }

    .col-md-6 {
      .gallery {
        button {
          padding: 5px !important;
        }
      }
    }

    /* Textbox */
    .textbox textarea[rows='1'] {
      resize: none;
    }

    /* Dataset */
    .dataset {
      td {
        cursor: pointer;
        video {
          max-height: 100px;
          max-width: 165px;
        }
      }
    }

    /* Chatbox */
    .chatbot {
      max-height: 500px;
      overflow-y: auto;
      .avatar {
        width: 45px;
        height: 100%;
      }

      .chatbot-base {
        border-radius: 15px;
        margin-bottom: 15px;
        &:last-child {
          margin-bottom: 0px;
        }
      }

      .chatbot-base-0 {
        background-color: var(--bg-surface-active);
      }

      .chatbot-base-1 {
        background-color: var(--bg-surface);
      }
    }

    /* File Inputs */
    .audio .audio-preview,
    .video .video-preview,
    .model3d .model3d-preview,
    .file .file-preview,
    .timeseries .timeseries-preview,
    .image .image-preview {
      background-repeat: no-repeat;
      background-position: center;
      background-size: auto 90%;
      display: grid;
      align-items: center;
      font-size: 16px;

      &.with-image,
      &.with-video,
      &.with-audio {
        i {
          display: none !important;
        }
      }
    }

    /* Timeseries */
    .timeseries {
      .timeseries-preview {
        height: 250px;
      }
    }

    /* Model 3D */
    .model3d {
      .model3d-preview {
        height: 250px;
      }
    }

    /* File */
    .file {
      .file-preview {
        height: 250px;
      }
    }

    /* Audio */
    .audio {
      .audio-preview {
        height: 130px;
        audio {
          margin: auto;
        }
      }
    }

    /* Video */
    .video {
      .video-preview {
        height: 250px;

        video {
          max-height: 240px;
          margin: auto;
        }
      }
    }

    /* Image */
    .image {
      .image-preview {
        background-color: var(--bg-surface-semi-transparent);
        height: 224px;
      }
    }

    /* Label */
    .label {
      .confidence {
        &:hover {
          color: var(--tc-link) !important;
        }

        .progress,
        .progress-bar {
          height: 5px;
        }

        .sub-label {
          width: 100%;

          .sub-label-confidence {
            width: 40px;
          }
        }
      }
    }

    /* Accordion */
    .accordion {
      .collapse-button {
        position: relative;
        top: 3px;
      }
    }

    /* Slider */
    .slider {
      .form-control-slider {
        padding: 7px;
        max-width: 100px;
      }
    }

    /* Dataframe */
    .dataframe {
      .table {
        --bs-table-color: var(--tc-surface);
      }

      .table > tbody > tr > * {
        --bs-table-color-type: var(--tc-surface-low);
      }
    }

    /* Radio and Checkbox group */
    .radio,
    .checkboxgroup,
    .checkbox {
      .checkboxradio-group {
        padding: 5px;

        input[type='checkbox'],
        input[type='radio'] {
          position: relative;
          left: 32px;
          cursor: pointer;
        }

        label {
          padding-left: 37px;
          width: 100%;
        }

        label:hover {
          cursor: pointer;
          font-weight: bold;
        }
      }
    }

    /* Code */
    .code {
      .code-text {
        border-left: 1px solid var(--bg-surface-border);
        padding-left: 9px;
      }
    }

    /* H1 */
    h1 {
      font-size: 32px;
      img {
        max-height: 72px;
      }
    }

    /* H2 */
    h2 {
      font-size: 22px;
    }

    /* H3 */
    h3 {
      font-size: 17px;
    }
  }
}
